/* Specify the font-family for the body element */
body {
  font-family: 'Outfit', Outfit;
  background: rgb(150,118,78);
  background: linear-gradient(0deg, rgba(150,118,78,1) 0%, rgba(227,129,35,1) 21%, rgba(70,48,26,1) 43%, rgba(203,120,19,1) 100%, rgba(2,0,36,1) 0%);
  background-size: cover;
  margin: 0;
  padding: 0;
}




header {
  
  
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Outfit';font-size: 22px;
}  
.logo{
transition: color 0.8s ease;
}
.logo:hover{
color: #000000;

}
.navbar {
/*   */
margin-right: 75px;
}

.rectangle {
margin-top: 2%;
/* margin-left: 125px; */
display: flex;
justify-content: center;
align-items: center;
padding-left: 5%;
background: rgb(0,0,0);
background: linear-gradient(216deg, rgba(0,0,0,1) 0%, rgba(16, 16, 16, 0.965) 50%, rgba(0,0,0,0.743942645417542) 100%, rgba(2,0,36,1) 0%);
margin-right: 8%;
margin-left: 8%;
color: #ffffff; 
overflow: hidden; 
}
.main_text{
margin-top: 5%;
font-size: 270%;
align-items: center;

}
.sub_text{
font-weight: lighter;
font-size: 165%;
}
.hero_image{
margin-left: 30%;
width: 50%;
height: auto;

}
button {
margin-top: 10%;
padding: 10px 20px; /* Set padding for the button */
font-size: 16px; /* Set font size for the button text */
background-color: #ab572d ; /* Set background color for the button */
color: #ffffff; /* Set text color for the button */
border: none; /* Remove border */
border-radius: 5px; /* Add border-radius for rounded corners */
cursor: pointer; /* Change cursor to pointer on hover */
transition: background-color 0.3s ease;
}
button:hover {
background-color: #ca8460; /* Change background color on hover */
}
.logo{
margin-left: 150px;
font-weight: bold;
font-size: 40px;
}

.navbar ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.navbar li {
margin-right: 60px;
}

.navbar a {
text-decoration: none;
font-size: 20px;
color: white;
}

.menu-icon {
display: none;
cursor: pointer;
}
.bar {
width: 25px;
height: 3px;
background-color: white;
margin: 5px 0;
}

.rectangle_welcome {
margin-top: 5%;
width: 100%; /* Set the width of the rectangle */
height: 550px; /* Set the height of the rectangle */
background-image: url('assets/images/wel-img.png.jpg');
text-align: center;
overflow: hidden;
color: #ffffff;
display: flex;

}

.welcome-content-main {

max-width: 70%;
margin: auto;
}

.welcome_heading{
margin-top: 8%;
font-size:  2.7rem;
font-weight: bold;
color: #ab572d; 
letter-spacing: 0.1cm;
margin-bottom: 5%;
}


.welcome_content{
text-align: center;
justify-content: center;
font-size: 1.5rem;
font-weight: lighter;
}





.white-rect{

width: 80%;
height: 750px;
background-color: #ffffff;
display: flex;
justify-content: center;
padding-left: 5%;
margin-right: 8%;
margin-left: 8%;
/* overflow: hidden;  */
}
.heading-our-val{
margin-top: 8%;
font-size:  2.7rem;
font-weight: 900;
color: #000000; 
letter-spacing: 0.1cm;
margin-bottom: 5%;

}


.bottom-left-image {


margin-top: 26%;
height: auto;

}
.text-val{
margin-top: 5%;
text-align: justify;
justify-content: center;
font-size: 1.5rem;
font-weight: lighter;
/* padding: 5%; */
padding-right: 10%;
}
.rect_bst_selling{

width: 100%; /* Set the width of the rectangle */
height: 650px; /* Set the height of the rectangle */
background-image: url('assets/images/wel-img.png.jpg');      
/* overflow: hidden; */
color: #ffffff;
display: flex;
margin-top: 5%;
justify-content: center;
}

.rectangle-container {
width: 600px; /* Set the width of the rectangle container */
border: 1px solid #000; /* Add a border for visibility */
padding: 20px; /* Add padding to create space between content and border */
margin: 0 auto; /* Center the rectangle container horizontally */
text-align: center; 
position: relative;/* Center-align text */
}

/* Style for the heading */
.heading-bstsel{
font-size: 2.9em; /* Set the font size of the heading */
margin-bottom: 20px; /* Add margin to create space between heading and images */
color: #ab572d;
}
.heading-bstsel:hover{
color: white;
transition: color 0.54s ease;
}


/* Style for the image container */
.image-container-bstsel {
display: flex; /* Use flexbox layout */
justify-content: center; /* Center-align images horizontally */
gap: 8%; /* Add gap between images */
padding: 8%;




}

/* Style for the images */
.image-container-bstsel img {
width: auto; /* Set the width of each image */
height: auto; /* Maintain aspect ratio */
}

.rectangle-bst {
background-color: #8c8c8c1b;
position:relative;
margin: 0 5px;
height: 400px;


}
.rectangle-bst:hover{
color: rgb(255, 255, 255);
background-color: rgba(207, 207, 207, 0.32);
}
.image-text {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
color: white; /* Set the color of the text */
font-size: 18px; /* Set the font size of the text */
font-weight:300; /* Set the font weight of the text */
text-align: center;
/* Additional styles as needed */
}
.our_collection{
width: 100%; /* Set the width of the rectangle */
height: 550px; /* Set the height of the rectangle */      

color: #ffffff;
display: flex;
margin-top: 2%;
text-align: center;
justify-content: center;
font-size:2.3rem;
margin-bottom: 5%; 


}
.our_collection_img1{
margin-top: 10%;
height: auto;
display:flex;
margin-right: 750px;
position: absolute;  
justify-content: center;
}
.image_txt {
position: absolute;
top: 90%;
left: 35%;
transform: translate(-50%, -50%);
color: white; /* Set the color of the text */
font-size: 23px; /* Set the font size of the text */
font-weight:300; /* Set the font weight of the text */
text-align:center;
/* Additional styles as needed */
}
.our_collection_img2{
margin-top: 10%;
height: auto;
display:flex;
margin-left: 530px;
position: absolute;  
/* justify-content: center; */
}
.our_collection_img3{
margin-top: 2%;
height: auto;
display:flex;
margin-left: 150px;
position: absolute;  
justify-content: center;
}
.our_collection_img4{
margin-top: 2%;
height: auto;
display:flex;
margin-left: 750px;
position: absolute;  
justify-content: center;
/* justify-content: center; */
}
.our_collection_img5{
margin-top: 37%;
height: auto;
display:flex;
margin-left: 150px;
position: absolute;  
justify-content: center;
/* justify-content: center; */
}
.our_collection_img6{
margin-top: 37%;
height: auto;
display:flex;
margin-left: 510px;
position: absolute;  
justify-content: center;
/* justify-content: center; */
}
.our_collection_img7{
margin-top: 37%;
height: auto;
display:flex;
margin-left: 990px;
position: absolute;  
justify-content: center;
/* justify-content: center; */
}

.our_collection_img8{
margin-top: 71%;
height: auto;
display:flex;
margin-left: 150px;
position: absolute;  
justify-content: center;
/* justify-content: center; */
}
.image_txt1{
/* margin-bottom:69%; */
justify-content: center;
font-size: 2.6rem;
font-weight:600;
color: white;
position:absolute;
padding-right:49%;
/* align-items:left; */
display: flex;
margin-top: 14%;
}
.button1 {
margin-top: 25%; 
padding-left:0.1px;
padding-right: 0.1px;
font-size:1.1rem; /* Set font size for the button text */
background-color: #ab572d; /* Set background color for the button */
color: #ffffff; /* Set text color for the button */
border-radius: 5px; /* Add bor0.1der-radius for rounded corners */
cursor: pointer; /* Change cursor to pointer on hover */
transition: background-color 0.3s ease;
margin-right: 73%;
position:absolute;
}
.button1:hover {
background-color: #ca8460; /* Change background color on hover */
}
.image_txt2{
/* margin-bottom:69%; */
justify-content: center;
font-size: 1.4rem;
font-weight:500;
color: white;
position:absolute;
margin-right:40%;
/* align-items:left; */
display: flex;
margin-top: 32%;
margin-left: 5%;
}
.white-rect-abtus{
width: 100%;
height: 300px;
background-color: #ffffff;
display: flex;
justify-content: center;
overflow: hidden; 
margin-top: 1692.5px;
}
.lay{
padding: 70px;
font-size: 1.4rem;
}
.white-rect-abtus2{
height: 440px;
background-color: #ffffff;
/* justify-content: center; */
overflow: hidden;
}
.abt-rect{
width: 320px;
height: 92px;
background-color: #000000;

}
.abt-txt{
color: #ffffff;
text-align: center;
padding: 7%;
font-size: 1.9rem;
font-weight: bolder;
}
.abt-txt:hover{
color: #000;
}
.abt-rect:hover{
background-color: #fff;
}
.footer-rect1{

height: 350px; 
background-color: rgb(0, 0, 0);
margin-top: 4%;
padding-top: 1%;
/* padding-bottom: 5%; */
margin-right: 8%;
margin-left: 8%;

}

.footer-rect2{
/* width: 750px;
height: 50px; */
background-color: rgb(0, 0, 0);
/* margin-top: 1%; */
padding: 1%;
margin-top: 2%;
margin-right: 8%;
margin-left: 8%;
display: flex;

justify-content: center;



}


.fotr_1{
color: #ffffff;
/* position:absolute; */
padding-right:49%;
display: flex;
font-size: 1.5rem;
margin-left: 3%;
margin-bottom: 2%;
}

.form-container {
max-width: 300px;
margin-left: 3%;
padding: 17px;
/* border: 5px solid #ffffff; */
/* border-radius: 5px; */
background-color: #ba6e228e;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Style for the email input */
.email-input {
width: calc(100% - 10px);
padding: 10px;
margin-left: 1.9%;
border: 2px solid #ab572d;
border-radius: 5px;
font-size: 16px;
box-sizing: border-box;
}

/* Style for the submit button */
.submit-button {
width: 97%;

border: none;
border-radius: 5px;
background-color: #ab572d;
color: #fff;
font-size: 16px;
margin-left: 1.9%;
cursor: pointer;
}

/* Style for hover effect on the submit button */
.submit-button:hover {
background-color: #ca8460;
}

.main-component{
display: flex;  
padding: 3%;
}
.foot-txt{
color: #fff;
padding: 3%;
line-height:30px ;
margin-left: 70px;
}
.foot-txt1{
color: #fff;
padding: 3%;
line-height:30px ;
margin-left:0.2%; 
/* margin-bottom: 30%; */
}
.foot-txt2{
color: #fff;
padding: 3%;
line-height:30px ;
text-align: right ;
font-size: 1.2rem;
margin-left: 80px;
}
.social_media{
height: 100px; 
width: 200px;
margin-top: 10%;
margin-left: 20%;
}
.seller{
color: #fff;
font-size: 1.3rem;
/* font-weight:normal; */
/* margin-bottom:10px; */
/* margin-left: 50px; */
margin-left: 1%;
text-align: justify;
align-items:left ;
display: flex;
justify-content: center;
}

.help{
color: #fff;
font-size: 1.3rem;
margin-left: 4%;
text-align: justify;
align-items:left ;
display: flex;
justify-content: center;



}

.rights{
color: #fff;
font-size: 1rem;
margin-left: 8%;
text-align: justify;
align-items:left ;
justify-content: center;
}

@media screen and (max-width: 768px) {
.navbar ul {
flex-direction: column;
align-items: center;
background-color: #444;
position: absolute;
top: 60px;
left: 0;
width: 100%;
display: flex;
}

.navbar li {
text-align: center;
margin: 0;
padding: 15px;
width: 100%;

}

.menu-icon {
display: block;
}
.navbar{
display: none;
}
}

@media (max-width:768px){
.navbar ul{
width: 100px;
background: linear-gradient(#fcfcfc,#cecece);
position: absolute;
top: 75px;
left: 325px;
z-index: 2;
margin-right: 75px;
}
.navbar ul li{
display:block;
margin-top: 10px;
margin-bottom: 10px;
}
.navbar ul li a{
color: #ab572d;
}
.logo{
margin-left: 25px;
}
.rectangle {
display: block;
position: relative;
}
.main_text{
margin-top: 5%;
font-size: 32px;
align-items: center;
margin-left: 5%;
text-align: center;
width: 330px
/* margin-right: 20%; */
/* margin-left: 30%; */
/* padding-right: 50%; */

}
.sub_text{
font-weight: lighter;
position: relative;
text-align: center;
font-size: 18px;
}
.hero_image{
margin-left: -4%;
margin-top: -10px;
width: 40%;
height: auto;

}
button {
position: relative;
left: 30%;
}
button:hover {
background-color: #ca8460; /* Change background color on hover */
}
.white-rect{
display: block;
position: relative; 
height: fit-content;
}
.heading-our-val{

font: size 100px;

}


.bottom-left-image {
width: 90%;
height: 90%;
padding-left: 8px;
margin-top: 20px;
}
.our_collection{
width: 100%; /* Set the width of the rectangle */
height: 550px; /* Set the height of the rectangle */      
display: flex;
margin-top: 2%;
text-align: center;
justify-content: center;
font-size:22px;
margin-bottom: 5%; 


}
.our_collection_img1{
margin-top: 20%;
height: 180px;
width:180px;
display:flex;
margin-right: 310px;
position: absolute;  
justify-content: center;

}
.image_txt {
position:absolute;
top: 90%;
left: 50%;
text-align: center;
transform: translate(-50%, -50%);
font-size: 12px; 
}

.our_collection_img2{
margin-top: 20%;
height: 180px;
width:180px;
margin-left: 80px;

}
.our_collection_img3{
margin-top:-55%;
height: 180px;
width:180px;
margin-left: 15px;

}
.our_collection_img4{
margin-top: -55%;
height: 180px;
width:180px;

margin-left: 260px;

}
.our_collection_img5{
margin-top:-12%;
height: 180px;
width:180px;
margin-left: -30px;
}
.our_collection_img6{
margin-top:-12%;
height: 180px;
width:180px;
margin-left: 130px;
}
.our_collection_img7{
margin-top:-12%;
height: 180px;
width:180px;
margin-left: 300px;
}
.our_collection_img8{
margin-top: 31%;
height: 210px;
width:210px;
margin-left: 136px;
position: absolute;  

}
.image_txt1{
font-size: 12px;
padding-right:49%;
align-items:left;
width: 150px;
height: 20px;
margin-right: 94%;
}
.button1 {
margin-top: 30%; 
padding-left:10px;
padding-right:10px;
font-size:5px;
border-radius: 5px;
margin-right: 100%;
}
.button1:hover {
background-color: #ca8460; /* Change background color on hover */
}
.image_txt2{
font-size:9px;
font-weight:500;
margin-left: -100%;
display: flex;
margin-top: 62%;
height: 10px;
width: 10px;
}

.rectangle_welcome {
  height: 22%;
  
  }

.welcome_heading{
  font-size: xx-large;
  margin-top: 4%;
  }
  
  
  .welcome_content{
 margin: 7%;
 font-size: larger;
  }

  .bottom-left-image {


    margin-top: 6%;
    height: auto;
    
    
    }

    .white-rect{

      width: 80%;
      height: 1350px;
     
      }
      .heading-our-val{
        margin-top: 10%;
        padding: 5%;
        margin-bottom: 5%;
        
        }
        .heading-bstsel{
          font-size: 2.4rem; 
         margin-bottom: -30px;
          
          }
          .image-container-bstsel{
            flex-wrap: wrap;
          }
          .rect_bst_selling{
            height: fit-content;
    
          }
          .rectangle-bst{
            margin: 2%;
            
          }
          .rectangle-container{
            width: fit-content;
          }
          .main-component{
            flex-wrap: wrap;
            padding: 2px;
            margin-top: 50%;
          }
          .rights{
            display: none;
          }
          .foot-txt{
            margin-left: 10px;
            
          }
          .cllc-main{
            margin-top: 100%;
            display: none;
          }
          .our_collection{
            display: none;
          }
          .cllc{
            margin-top: -20%;
           }
           .white-rect-abtus{
            width: 100%;
            height: 290px;
            background-color: #ffffff;
            display: block;
            justify-content: center;
            padding: -5px;
            margin-top: 100%;
            }
            .white-rect-abtus2{
              padding: -5px;
              height: 480px;
              background-color: #ffffff;
              /* justify-content: center; */
              overflow: hidden;
              }
              .abt-rect{
                width: 320px;
                height: 92px;
                background-color: #000000;
                justify-content: center;
                margin-top: -45px;
                }
                .lay{
                  font-size: 1.2rem;
                }
                /* .our_collection_img8{
                
                  height: 282px;
                  width: 45px;
        
                
                }
                .image_txt1{
                  
                  font-size: 1.1rem;
               font-weight: normal;
                  color: white;
                 
                  margin-top: 39%;
                  }
                  .image_txt2{
                   
              margin-left: -4cm;
                    font-size: 13px;
                
                    color: white;
                        padding: 1%;
                margin-left: 190%;
                width: 300px;
                    margin-top: 39%;
                    }
                    .button1{
                      height: 0cm;
                      margin-top: 22%;
                      margin-right: 35%;
                
                    } */
         .footer-rect1{
            height: 300px; 
            padding-left: 6%;
           }
           .footer-rect2{
            height: 380px;
            padding: 3%;
           }
           .fotr_1{
            color: #ffffff;
           margin-top: -170px;     
            margin-left: 3%;
            }
            .submit-button {
              width: 97%;
              border: none;
              border-radius: 5px;
              background-color: #ab572d;
              color: #fff;
              font-size: 16px;
              margin-left: -29%;
              cursor: pointer;
              }
              .foot-txt{
                margin-top: 10%;
              }
              .foot-txt1{
                margin-top: 10%;
              }
              .foot-txt2{
                text-align: center;
                margin-left: 8%;
              }
              .help{
                margin-top: 4%;
              }
              .seller{
                margin-top: 4%;
              }

}


 @media(max-width:915px){
  header {
    padding-left: 10px;
}  
.menu-icon {
  margin-right: 20px;
}
.rectangle {
  display: block;
  position: relative;
}
.main_text{
margin-left: 20px;
font-size: 24px;
}
.sub_text{
  margin-top: 10px;
  margin-right: 12px;
  font-size: 14px;
}
.hero_image{
margin-left: -30px;
}
.heading-bstsel{
  font-size: 35px;
}
 .our_collection{
 height: 100px;
 width:100%
} 

.foot-txt{
  margin-top: 15%;
}
.foot-txt1{
  margin-top: 15%;
}
.foot-txt2{
  text-align: center;
  margin-left: 8%;
}
.help{
  margin-top: 4%;

}
.seller{
  margin-top: 4%;
  word-spacing: normal;
  text-align: left;

}
.footer-rect2{
  height: 440px;
  
 }
 .footer-rect1{
  padding: 4%;
  height: 265px;
 }

 }

 @media screen and (min-width: 412px) and (max-width: 915px){
  .our_collection_img8{
                  
    height: 180px;
    width: 180px;
    margin-left: 117px;
   
  
  }
  .image_txt1{
    
    font-size: 1.1rem;
 font-weight: normal;
    color: white;
   
    margin-top: 2%;
    }
    .image_txt2{
     
       margin-left: -4cm;
       font-size: 11px;
      width: 150px;
          color: white;
          padding: 1%;
        margin-left: -90%;
        margin-top: 45%;
      }
      .button1{
        height: 1px;
        width: 1px;
        margin-top: 55%;
        margin-left: 320px;
      
  
      }
      .white-rect-abtus{
        margin-top: 85%;
      }
      .foot-txt{
        margin-top: 25%;
      }
      .foot-txt1{
        margin-top: 25%;
      }
  }
  @media screen and (min-width: 250px) and (max-width: 724px){
    .our_collection_img8{
      position: relative;
      left: 8%;
      margin-bottom: -70%;
    }
    
  }
  @media(max-width:1050px) {
    .our_collection{
      display: none;
    }
    .our_collection_img1 img,
    .our_collection_img2 img,
    .our_collection_img3 img,
    .our_collection_img4 img,
    .our_collection_img5 img,
    .our_collection_img6 img,
    .our_collection_img7 img{
      display: none;
    }
    .image_txt{ 
      display: none;
    }
  }

  @media screen and (min-width: 724px) and (max-width: 865px){
    .hero_image{
      position: relative;
      left: 23%;
    }
    .main_text{
      position: relative;
      
      text-align: center;

    }
    .sub_text{
      text-align: center;
    }
    .button{
     position: relative;
     left: 40%;
    }
  } 
